body {
background-image:url('/images/5aa1b61613119.jpg');
background-repeat:no-repeat;
background-size: cover;

font-family: 'Cookie', cursive;
font-size:25px
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}
