{{#partial "content"}}
<body style="background-image:url('/images/5aa1b61613119.jpg');
             background-repeat:no-repeat;
             background-size: cover;" >

    <h1 style="color:white"> List o' Squads !</h1>
    <div class="well" style="width:50%;text-align:center;margin-left:20%">
      {{#if squads}}
            {{#each squads }}
             <p>Currents squads:</p>
             <p>{{ name }} <a href="/squads/{{id}}">read more...</a></p>

            {{/each}}
        {{else}}
         <p>No squads!</p>
        {{/if}}
    </div>
</body>

{{/partial}}

{{> layout.hbs}}