{{#partial "content"}}
<body style="background-image:url('/images/5aa1b61613119.jpg');
             background-repeat:no-repeat;
             background-size: cover;" >
{{#if heroes}}
        {{#each heroes }}
<div class="card w-50">
  <div class="well">
    <h5 class="card-title">{{ name }} </h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="/heroes/{{id}}" class="btn btn-primary">read more...</a>
  </div>
</div>
{{!--     <h1> List of heroes!</h1> --}}


         <p>Current hero:</p>
         <p></p>
        {{/each}}
    {{else}}
     <p>No heroes!</p>

    {{/if}}
    </body>
{{/partial}}

{{> layout.hbs}}